.storybook-button:root {
  --button-font-size: var(--fontSize);
}

.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: var(--button-font-size);
}

.storybook-button--primary {
  color: white;
  background-color: var(--button-primary-background-color);
}

.storybook-button--secondary {
  color: #333;
  background-color: var(--button-secondary-background-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  padding: 10px 16px;
}
.storybook-button--medium {
  padding: 11px 20px;
}
.storybook-button--large {
  padding: 12px 24px;
}
