:root {
  --green-50: #e6f6ea;
  --green-100: #c2e9cc;
  --green-200: #9adbac;
  --green-300: #6ece8b;
  --green-400: #288045;
  --green-500: #11b758;
  --green-600: #00a84e;
  --green-700: #009642;
  --green-800: #008437;
  --green-900: #006522;
 
  --button-primary-background-color: var(--green-600);
  --button-secondary-background-color: yellow;
}

@media (min-width: 768px) {
  :root {
    --button-primary-background-color: var(--green-700);
  }
}
